{% extends 'layout.html' %}
{% block body %}

<div class="container">
    <h1>About Investment Risk App</h1>
    <p>This app helps you to measure risk of your portfolio. You can compare your portfolio performance with
        benchmark.<br>
        Application calculates rates of return, standard deviation and Beta coefficients in different periods as well
        as the total Beta of your portfolio.<br>
        It also generates candlestick charts for your stocks with relative benchmark line.
    </p>
</div>


{% endblock %}